
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DropDownList</title>
</head>
<body>
    <br />
    <label>Elija una opción:</label>
    <div>
        @Html.DropDownList("MiDrop", (List<SelectListItem>)ViewBag.MiListadoEnum)
    </div>

    <br />
    <label>Elija una opción:</label>
    <div>
        @Html.DropDownList("MiDrop", (List<SelectListItem>)ViewBag.MiListado)
    </div>
</body>
</html>
