
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DropDownList</title>
</head>
<body>
    <div> 
        @Html.DropDownList("MiDrop", (List<SelectListItem>)ViewBag.MiListadoEnum)
    </div>
</body>
</html>
