<html>
<head>
    <title>@ViewBag.Title - Centuria</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>