
@{
    ViewBag.Title = "Language";
    Layout = "~/Views/Shared/_Secondary.cshtml";
}

<h2 class="display-5">Lenguaje</h2>
<br>

<a title="Adicionar" href=""><img src="~/Images/adicionar.png" alt="" width="32" height=32" /></a>
<a title="Modificar" href=""><img src="~/Images/modificar.png" alt="" width="32" height=32" /></a>
<a title="Salir" href="Administrator"><img src="~/Images/Salir.png" alt="" width="32" height=32" /></a>

<table class="table table-hover my-3">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">NOMBR</th>
            <th scope="col">ACTIVO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>ESPAÑOL</td>
            <td>X</td>

        </tr>
        <tr>
            <th scope="row"></th>
            <td>INGLES</td>
            <td>X</td>

        </tr>
        <tr>
            <th scope="row"></th>
            <td>ALEMAN</td>
            <td>X</td>
        <tr>
        </tr>
    </tbody>
</table>